@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;700&family=Work+Sans:wght@200;400&display=swap');

$text-primary: #39CDCC;
$text-secondary: #213F7D;
$text-light: #6f7fA1;
$text-title: #545f7d;
$btn-primary: #39CDCC;
$btn-danger: #E4033B;
$bg-hover:  hsla(180, 60%, 94%, 1);
