
.dropdown {
    position: absolute;
    top: 115%;
    left: 10px;
    background-color: white;
    z-index: 99;
    display: none;
    border-radius: 4px;

    &.show {
        display: block;
    }

    li {
        display: flex;
        cursor: pointer;
        padding: 12px 10px;
        &:hover {
            background-color: $bg-hover;
        }
        
        img {
            object-fit: contain;
            margin-right: 5px;
        }
    }

    p {
    white-space: nowrap;

    &:hover {
        background-color: $bg-hover;
    }
   }
    
}