@import "mixins";
@import "config";

.navbar {

    background-color: white;
    width: 100%;
    @include nav-padding;
    position: fixed;
    padding: 0 20px 0 350px;
    display: flex;
    align-items: center;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
    z-index: 90;
    
    .nav-container {

        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .menu {
            font-size: 30px;
            color: $text-secondary;
            display: none;
        }
        .search-container {
             height: 40px;
             display: flex;

            .input-container {
               height: 100%;
               width: 250px;

               input {            
                 @include input-field;
                 border-radius: 8px 0 0 8px;
               }
            }
            .btn-search {
               border: none;
               width: 50px;
               border-radius: 0 8px 8px 0; 
               background-color: $btn-primary;
               cursor: pointer;
            }
        }

        .user-nav {
            display: flex;
            align-items: center;

            p:first-child {
                border-bottom: 2px solid;
                margin-right: 20px;
                cursor:pointer;
            }

            img {
                display: inline-block;
                object-fit: contain;
                margin-right: 20px;

                &.avatar {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                }    
                
                &:last-child {
                    cursor:pointer
                }
            }

            p:nth-last-child(2) {
                margin-right: 5px;
                cursor: pointer;
            }

        }
    }

}

@include media-md {

    .navbar {
        width: 100%;
        padding: 20px; 
        position: fixed; 

        .nav-container {

            .menu {
                display: block;
            }
            
            .search-container {
                height: 30px;
                margin-left: 10px;

                .input-container {
                    width: 70%;

                    input {
                        color: #545F7D;

                        &::placeholder {
                            color: #545F7D;
                            opacity: 0.7;
                        }
                    }
                }

                .btn-search {
                    width: 30px;
                }
            }
        }

        .nav-container {

            .user-nav {

                p:first-child {
                    margin-right: 20px;        
                } 

                img {
                    margin-right: 20px;
    
                    &.avatar {
                        height: 30px;
                        width: 30px;
                        border-radius: 50%;
                        margin-right: 0;
                    }    
                    
                    &:last-child {
                        cursor:pointer;
                        display: none;
                    }
                }

                p:nth-last-child(2) {
                    display: none;
                }
            }
        }
    }
}