
.pagination-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    & > div {
        display: flex;
        align-items: center;
        
        .items-per-page {
            background: rgba(33, 63, 125, 0.1);
            display: flex;
            align-items: center;
            border-radius: 4px;
            padding: 5px 10px;
            margin: 0 10px;
            cursor: pointer;
            position: relative;
            
            img {
                object-fit: contain;
                margin-left: 5px;
            }
            .dropdown-filter {
                background: rgba(33, 63, 125, 0.1);
                width: 100%;
                position: absolute;
                top: 110%;
                left: 0;
                text-align: center;
                display: none;
                
                &.active {
                    display: block;
                }
                p {
                  padding: 3px 0;
                  &:hover {
                    background-color: $bg-hover;
                  }
                }
            }
        }
    }

    .pagination {
        display: flex;
        align-items: center;

        button {
            border: none;
            background: rgba(33, 63, 125, 0.1);
            padding: 5px;
            cursor: pointer;
        }
        li {
            list-style: none;
            margin-left: 10px;
            color: $text-secondary;
            opacity: 0.6;
        }
        & > .active {
            opacity: 1;
        }
    }
}
